body, html{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    background-color: #333333;
    color: #dddddd;
}

img{
    width: 330px;
    height: 310px;
}

.descricao{
    width: 300px;
}

h2{
    margin-bottom: 5px;
}

.duracao{
    width: 300px;
    margin-top: 25px;
}

.barra{
    width: 300px;
    height: 10px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

progress{
    height: 10px;
    width: 50%;
    background-color: #333333;
}

.ponto{
    width: 20px;
    height: 20px;
    background-color: #eeeeee;
    border-radius: 50%;
    margin-left: -2px;
}

.tempo{
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.player{
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

.botao-play, .botao-pause{
    font-size: 70px;
    cursor: pointer;
}

.setas{
    font-size: 50px;
    cursor: pointer;
}

.botao-pause{
    display: none;
}

.botao-play:hover, .botao-pause:hover{
    color: rgb(255, 255, 255);
    font-size: 80px;
    font-weight: bolder;
}

.setas:hover{
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: bolder;
}